# Archivos con historia de RStudio
.Rhistory
.Rapp.history

# Archivos con información sobre la sesión R
.RData

# Codigo temporal con ejemplos en la documentación
*-Ex.R

# Archivos resultantes de R CMD build
/*.tar.gz

# Output de R CMD check
/*.Rcheck/

# Archivos RStudio
.Rproj.user/

# Vignettes generados
vignettes/*.html
vignettes/*.pdf

# Token OAuth2, vea https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# Carpeta del cache de knitr y R markdown
/*_cache/
/cache/

# Archivos temporarios creados por R markdown
*.utf8.md
*.knit.md
*.html

.Rproj.user
